body {
    font-family: Arial;
    height: 1000px;
}
header {
    height: 40px;
}

#content {
}
#logo {
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}


li {
    display: inline;
    margin-right: .5em;
    float: right;
    font-size: 13px;
}