body {
    font-family: Arial, serif;
}
header {
    height: 40px;
}

#content {
    text-align: center;
}

li {
    display: inline;
    padding-right: 25px;
    margin-top: 5px;
    float: right;
    font-size: 13px;
}

li a {
    text-decoration: none;
    color: #464646;
}

li a:visited {
    color: #464646;
}

li a:hover {
    text-decoration: underline;
}

.hImg {
    height: 20px;
    width: 20px;
}

#name {
    color: gray;
}

#user {
    margin-top: -5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#logo {
    display: block;
    margin-top: 150px;
    margin-right: auto;
    margin-left: auto;
}

#submitbar {
    display: inline-block;
    margin-top: 40px;
    width: 600px;
    border: solid steelblue;
}

#search {
    height: 30px;
    width: 500px;
    border-color: transparent;
    float:left;
    margin-left: 1em;
}

#search:focus {
    outline: none;
}

#mic {
    background-size: 24px 24px;
    background-image: url("images/mic.png");
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: bottom;
}

#buttonbox {
    margin-top: 40px;
}
.button {
    width: 140px;
    height: 40px;
    background-color: whitesmoke;
}

